/* No bottom margin on the info paragraph, unless toggle-open */
.message .first {
	margin-bottom: 0;
}
.message.toggle-open .first {
	margin-bottom: 1.8em;
}
.toggle-content {
	margin-top: 1em;
}
.toggle-content .submit {
	margin-top: 1em;
}
.aha-survey.standard-form label {
	margin-top: 8px;
}
.assessment .form-navigation {
	margin-top: 2em;
}
.aha-survey.standard-form .submit {
	clear: right;
	padding-top: 0;
}
.aha-survey.standard-form .submit input {
	margin-right: 0;
}
.aha-survey.standard-form .submit.toc {
	clear: left;
	float: left;
}
.aha-survey.standard-form fieldset {
	margin-bottom: 3em;
}
/*Handling showing/hiding "related" questions*/
.aha-survey .follow-up-question {
	display: none;
	margin-top: -3em;
	padding: .5em 1.5em;
	/*background-color: #FFFFEA; /*#fef4dd;*/*/
}
.aha-survey .follow-up-question.enabled {
	display: block;
}
.aha-survey .input-helper {
	font-size: 90%;
	color: #666;
	font-style: italic;
}

/* Summary page styles */
.summary-navigation-container ul.horizontal {
	margin-bottom: 0;
}
.progress-dial {
	display: table;
	margin: 0 auto;
	position: relative;
}
.progress-dial .dial-label {
	position: absolute;
	font-size: 1.2em;
	text-align: center;
	bottom: 1.4em;
	left: 0;
	right: 0;
}
.assessment .third-block.spans-2 h3 {
    margin-top: 0;
}
.assessment .third-block {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.health-needs-container {
	float: left;
	margin-top: 1em;
	border-top: 1px solid #CCC;
}
.dial-container {
	margin-top: 1em;
}
.dial-container .map-widget-data {
	float: none;
	position: relative;
	margin-left: 0;
}
.dial-container .map-widget-data p {
	margin-top: .6em;
	font-size: 86%;
	color:#555;
	/*font-style: italic;*/
}
.dial-container .map-widget-data .map-widget-icons {
	display: none;
}
.assessment .content-row {
	margin-top: 1.5em;
	padding-top: 1.5em;
	border-top: 1px solid #CCC;
}
.assessment .content-row:nth-of-type(1) {
	border-top: none;
} 
.assessment tr.summary-table-section {
	border-top: 2px solid #666;
} 
.assessment tr.summary-table-section td {
	font-weight: bold;
} 
.assessment td.healthy {
	color: green;
}
.assessment td.intermediate {
	color: orange;
}
.assessment td.poor {
	color: red;
}
.assessment tfoot tr {
	background-color: #eaeaea;
}

.assessment span.healthy {
	color: green;
}

@media screen and (min-width:600px), print {
	.dial-container {
		float: left;
		width: 28.5%;
		margin-left: 2%;
		margin-right: 2%;
	}
}
@media all and (min-width:800px), print { 
	.assessment .third-block.spans-2 {
	    float: right;
	}
	.progress-dial .dial-label {
		font-size: 1.3em;
	}
	.health-needs-container{
		width: 25%;
		padding: 0 2.5%;
	}
	.dial-container {
		float: left;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}
/* Simplify the page for IE8 and earlier, since they don't do canvas or the dial widgets */

.ie .health-needs-container, .ie .progress-dial {
	display: none;
}
.ie .assessment .third-block.spans-2 {
    width: 100%;
}

@media print {
	/* Hide many page elements that aren't needed here */
	.assessment .primary-navigation,
	.assessment #item-header,
	.assessment #secondary,
	.assessment .summary-navigation-container,
	.assessment .single-group-footer {
	 	display: none;
	}


	/* Adding line breaks for print only- isn't that cool? */
	.assessment .content-row, .assessment section {
	   page-break-before: always;
	}
	.assessment .content-row:first-of-type, .assessment section:first-of-type {
	   page-break-before: avoid;
	}
	img, .dial-container {
	   page-break-inside: avoid;
	}
	h2, h3, h4 {
	   page-break-after: avoid;
	}
	.map-widget-image {
		width: 100% !important;
		min-height:100px !important;
	}
}

/**** SUMMARY REPORT CARD STYLES  ****/
#summary-report-card ul.horizontal li.filter-type{
	font-size:1.2em;
}
table#report-card-table th{
	text-align:center;
}

table#report-card-table .overall-header{
	background-color:#008eaa;
    font-weight: bold;
    line-height: 2.18182;
    text-transform: none;
}
table#report-card-table .overall-header th{
	color:#ffffff;
    font-size: 1rem;
	border-bottom: 1px solid white;
}
table#report-card-table .overall-header th.white-border{
	border-left:1px solid #ffffff;
	border-right:1px solid #ffffff;
	text-align:center;
}

table#report-card-table .overall-header td.filter-type{
	color: white;
    font-size: 1.1em;
    font-weight: 700;
    padding-left: 0.5%;
	min-width:82px;
}
table#report-card-table .hidden{
	display:none;
}
table#report-card-table  .healthy{
	background-image: url('../im/healthy_40.png');
	background-repeat:no-repeat;
	background-position:center center;
}

table#report-card-table  .intermediate{
	background-image: url('../im/intermediate_40.png');
	background-repeat:no-repeat;
	background-position:center center
}

table#report-card-table  .poor{
	background-image: url('../im/poor_40.png');
	background-repeat:no-repeat;
	background-position:center center
}
table#report-card-table tr{
	height:60px;
}

a.button {
	cursor:pointer;
}

table#report-card-table td.state-select{
	max-width:60px;
}
table#report-card-table td.state-select select,
table#report-card-table th.state-select select,
table#report-card-table th.state-select{
	max-width:46px;
	padding-left:0;
	padding-right:0;
}
table#report-card-table td.affiliate-select,
table#report-card-table th.affiliate-select{
	max-width:60px;
}
table#report-card-table thead{
	display:table-header-group;
}
table#report-card-table tbody {
    display:table-row-group;
}
section#summary-report-card select{
	margin-right:2em;
}
section#summary-report-card tr.top-3-row th.selected-top-3 a.button{
	background-image:none;
	background-color:#008eaa;
	color:#ffffff;
	filter:none;
} 

section#summary-report-card .min60{
	min-width:60px;
}
tr.impact-row {
	border-bottom:1px solid white;
}
tr.criteria-row th{
	cursor:pointer;
}
tr.criteria-row th.tablesorter-headerAsc,
tr.criteria-row th.tablesorter-headerDesc{
	background-color: #008eaa;
    color: white;
}
tr.criteria-row th .sort-arrow{
	color:#c6c6c6;
	font-size:1.5em;
}

.impact-row th.community-show, .impact-row th.school-show, .impact-row th.care-show{
	border:1px solid white;
}
.report-card-top3 {
	margin-top:0px;
}
.top-3-row{
	margin-top:0px;
}
.top-3-row th a.button{
	padding:0.2em 0.3em;
}
section#summary-report-card tr.top-3-row .top-3-star{
	background-image:url(../im/starswhite_29.png);
	background-repeat:no-repeat;
	background-position:0 0px;
	height: 30px;
    margin-left: 0px;
    width: 30px;
}
section#summary-report-card tr.top-3-row th.selected-top-3 .top-3-star{
	background-position:0 -58px;
}

tr.criteria-row th {
	padding:6px 2px 4px;
	font-size:10px;
}

/*tr.criteria-row, tr.criteria-row th {
	vertical-align:bottom;
} 
.report-card-rotate {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);

	-webkit-transform-origin: 30% 89%;
	-moz-transform-origin: 30% 89%;
	-ms-transform-origin: 30% 89%;
	-o-transform-origin: 30% 89%;
	transform-origin: 30% 89%;

	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.skinny-column_old{
	max-width: 40px;
	height:230px;
	white-space:nowrap;
}*/


.print-only{
	display:none;
}

@media print {

	/*body:before {
        content: url(background.jpg);
    }*/
	
	table#report-card-table  .healthy:before{
		content: url('../im/healthy_40.png');
		background-image:none !important;
	}

	table#report-card-table  .intermediate:before{
		content: url('../im/intermediate_40.png');
		background-image:none !important;
	}

	table#report-card-table  .poor:before{
		content: url('../im/poor_40.png');
		background-image:none !important;
	}
	table#report-card-table thead{
	display:table-header-group;
	}
	table#report-card-table tbody {
		display:table-row-group;
	}
	table#report-card-table .overall-header{
		display:none;
	}
	.print-only{
		display:block;
	}
	/*
	table#report-card-table  .healthy{
		background-image: url('../im/healthy_40.png');
		background-repeat:no-repeat;
		background-position:center center;
	}

	table#report-card-table  .intermediate{
		background-image: url('../im/intermediate_40.png');
		background-repeat:no-repeat;
		background-position:center center
	}

	table#report-card-table  .poor{
		background-image: url('../im/poor_40.png');
		background-repeat:no-repeat;
		background-position:center center
	}
	
	*/
}