/* No bottom margin on the info paragraph, unless toggle-open */
.message .first {
	margin-bottom: 0;
}
.message.toggle-open .first {
	margin-bottom: 1.8em;
}
.toggle-content {
	margin-top: 1em;
}
.toggle-content .submit {
	margin-top: 1em;
}

#subnav.item-list-tabs ul li.padding-li {
	padding: 3px 3px 3px 8px;
}
.aha-survey.standard-form label {
	margin-top: 8px;
}
.assessment .form-navigation {
	margin-top: 2em;
}
.aha-survey.standard-form .submit {
	clear: right;
	float: right;
	padding-top: 0;
	width: 40%;
}
.aha-survey.standard-form .submit input {
	margin-right: 0;
	float: right;
}
.aha-survey.standard-form .submit.alignleft {
	float: left;
}
.aha-survey.standard-form .submit.alignleft input {
	margin-right: 0;
	float: left;
}
.aha-survey.standard-form .submit.toc {
	clear: left;
	float: left;
}
.aha-survey.standard-form fieldset {
	margin-bottom: 3em;
}
/*Handling showing/hiding "related" questions*/
.aha-survey .follow-up-question {
	display: none;
	margin-top: -3em;
	padding: .5em 1.5em;
	/*background-color: #FFFFEA; /*#fef4dd;*/*/
}
.aha-survey .follow-up-question.enabled {
	display: block;
}
.aha-survey .input-helper {
	font-size: 90%;
	color: #666;
	font-style: italic;
}

/* Summary page styles */
.summary-navigation-container ul.horizontal {
	margin-bottom: 0;
}
.progress-dial {
	display: table;
	margin: 0 auto;
	position: relative;
}
.progress-dial .dial-label {
	position: absolute;
	font-size: 1.2em;
	text-align: center;
	bottom: 1.4em;
	left: 0;
	right: 0;
}
.assessment .third-block.spans-2 h3 {
    margin-top: 0;
}
.assessment .third-block {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.health-needs-container {
	float: left;
	margin-top: 1em;
	border-top: 1px solid #CCC;
}
.dial-container {
	margin-top: 1em;
}
.dial-container .map-widget-data {
	float: none;
	position: relative;
	margin-left: 0;
}
.dial-container .map-widget-data p {
	margin-top: .6em;
	font-size: 86%;
	color:#555;
	/*font-style: italic;*/
}
.dial-container .map-widget-data .map-widget-icons {
	display: none;
}
.assessment .content-row {
	margin-top: 1.5em;
	padding-top: 1.5em;
	border-top: 1px solid #CCC;
}
.assessment .content-row:nth-of-type(1) {
	border-top: none;
} 
.assessment tr.summary-table-section {
	border-top: 2px solid #666;
} 
.assessment tr.summary-table-section td {
	font-weight: bold;
} 
.assessment td.healthy {
	color: green;
}
.assessment td.intermediate {
	color: orange;
}
.assessment td.poor {
	color: red;
}
.assessment tfoot tr {
	background-color: #eaeaea;
}

.assessment span.healthy {
	color: green;
}

.assessment .hidden {
	display:none;
}
.assessment a.priority_staff_link {
	cursor:pointer;
}
.assessment .shaded{
	background-color: #e6e6e6;
}
.assessment .priority_staff_save td{
	border-bottom:2px solid #222222;
}
.assessment .priority_staff_select td,
.assessment .priority_volunteer_select td,
.assessment .priority_staff_save td{
	border-top:none;
}
.assessment .spinny{
	background-image: url('../im/ajax-loader.gif');
	background-repeat:no-repeat;
	background-position:center center;
	display: none;
    height: 16px;
    padding-left: 16px;
    vertical-align: middle;
    width: 16px;
}
.assessment .staff_save_message{
    vertical-align: middle;
	display: inline-block;
	padding-left:8px;
	font-style:italic;
}

#revenue-analysis-navigation th.limited-width{
	width:250px;
}
#revenue-analysis-navigation a.resource-link{
	padding-left:8px;
}

@media screen and (min-width:600px), print {
	.dial-container {
		float: left;
		width: 28.5%;
		margin-left: 2%;
		margin-right: 2%;
	}
}
@media all and (min-width:800px), print { 
	.assessment .third-block.spans-2 {
	    float: right;
	}
	.progress-dial .dial-label {
		font-size: 1.3em;
	}
	.health-needs-container{
		width: 25%;
		padding: 0 2.5%;
	}
	.dial-container {
		float: left;
		width: 100%;
		margin-left: 0;
		margin-right: 0;
	}
}
/* Simplify the page for IE8 and earlier, since they don't do canvas or the dial widgets */

.ie .health-needs-container, .ie .progress-dial {
	display: none;
}
.ie .assessment .third-block.spans-2 {
    width: 100%;
}

@media print {
	/* Hide many page elements that aren't needed here */
	.assessment .primary-navigation,
	.assessment #item-header,
	.assessment #secondary,
	.assessment .summary-navigation-container,
	.assessment .single-group-footer {
	 	display: none;
	}


	/* Adding line breaks for print only- isn't that cool? */
	.assessment .content-row, .assessment section {
	   page-break-before: always;
	}
	.assessment .content-row:first-of-type, .assessment section:first-of-type {
	   page-break-before: avoid;
	}
	img, .dial-container {
	   page-break-inside: avoid;
	}
	h2, h3, h4 {
	   page-break-after: avoid;
	}
	.map-widget-image {
		width: 100% !important;
		min-height:100px !important;
	}
}

/**** SUMMARY REPORT CARD STYLES  ****/
#summary-report-card ul.horizontal li.filter-type,
#revenue-report-card ul.horizontal li.filter-type{
	font-size:1.2em;
	line-height:1.2em;
}
#summary-report-card ul#geography, 
#summary-report-card ul#top3,
#revenue-report-card ul#geography, 
#revenue-report-card ul#top3 {
	margin-bottom:0em;
}
table#report-card-table th,
table#report-card-table-sticky th{
	text-align:center;
}
table#revenue-report-card-table th,
table#revenue-report-card-table-sticky th{
	text-align:center;
	min-width:62px;
}

table#report-card-table .overall-header,
table#report-card-table-sticky .overall-header,
table#revenue-report-card-table .overall-header,
table#revenue-report-card-table-sticky .overall-header{
	background-color:#008eaa;
    font-weight: bold;
    line-height: 2.18182;
    text-transform: none;
}
table#report-card-table .overall-header th,
table#report-card-table-sticky .overall-header th,
table#revenue-report-card-table .overall-header th,
table#revenue-report-card-table-sticky .overall-header th{
	color:#ffffff;
    font-size: 1rem;
	border-bottom: 1px solid white;
}
table#report-card-table .overall-header th.white-border,
table#report-card-table-sticky .overall-header th.white-border,
table#revenue-report-card-table .overall-header th.white-border,
table#revenue-report-card-table-sticky .overall-header th.white-border{
	border-left:1px solid #ffffff;
	border-right:1px solid #ffffff;
	text-align:center;
}

table#report-card-table .overall-header td.filter-type,
table#report-card-table-sticky .overall-header td.filter-type,
table#revenue-report-card-table .overall-header td.filter-type,
table#revenue-report-card-table-sticky .overall-header td.filter-type{
	color: white;
    font-size: 1.1em;
    font-weight: 700;
    padding-left: 0.5%;
	min-width:82px;
}
table#report-card-table .overall-header.summary-section,
table#report-card-table-sticky .overall-header.summary-section,
table#revenue-report-card-table .overall-header.summary-section,
table#revenue-report-card-table-sticky .overall-header.summary-section{

}
table#report-card-table .overall-header.geography{
}

table#report-card-table .top-3-row h4,
table#report-card-table-sticky .top-3-row h4{
	padding-left:3px;
	float:left;
	margin:0;
}
table#report-card-table-sticky .top-3-row,
table#report-card-table-sticky .overall-header.geography,
table#revenue-report-card-table-sticky .top-3-row,
table#revenue-report-card-table-sticky .overall-header.geography{
	display:none;
}
table#report-card-table .hidden,
table#report-card-table-sticky .hidden,
table#revenue-report-card-table .hidden,
table#revenue-report-card-table-sticky .hidden{
	display:none;
}
table#report-card-table .healthy,
table#report-card-table-sticky .healthy {
	background-image: url('../im/healthy_40.png');
	background-repeat:no-repeat;
	background-position:center center;
}

table#report-card-table .healthy.community_tobacco_1-top-3,
table#report-card-table .healthy.community_tobacco_2-top-3,
table#report-card-table .healthy.community_phys_1-top-3,
table#report-card-table .healthy.community_diet_1-top-3,
table#report-card-table .healthy.community_diet_2-top-3,
table#report-card-table .healthy.community_diet_3-top-3,
table#report-card-table .healthy.school_phys_1-top-3,
table#report-card-table .healthy.school_phys_2-top-3,
table#report-card-table .healthy.school_diet_1-top-3,
table#report-card-table .healthy.school_diet_2-top-3,
table#report-card-table .healthy.school_cpr_1-top-3,
table#report-card-table .healthy.care_factors_1-top-3,
table#report-card-table .healthy.care_acute_1-top-3,
table#report-card-table .healthy.care_acute_2-top-3 {
	background-image: url('../im/healthy_40_star.png');
}


table#report-card-table .intermediate,
table#report-card-table-sticky .intermediate{
	background-image: url('../im/intermediate_40.png');
	background-repeat:no-repeat;
	background-position:center center
}
table#report-card-table .intermediate.community_tobacco_1-top-3,
table#report-card-table .intermediate.community_tobacco_2-top-3,
table#report-card-table .intermediate.community_phys_1-top-3,
table#report-card-table .intermediate.community_diet_1-top-3,
table#report-card-table .intermediate.community_diet_2-top-3,
table#report-card-table .intermediate.community_diet_3-top-3,
table#report-card-table .intermediate.school_phys_1-top-3,
table#report-card-table .intermediate.school_phys_2-top-3,
table#report-card-table .intermediate.school_diet_1-top-3,
table#report-card-table .intermediate.school_diet_2-top-3,
table#report-card-table .intermediate.school_cpr_1-top-3,
table#report-card-table .intermediate.care_factors_1-top-3,
table#report-card-table .intermediate.care_acute_1-top-3,
table#report-card-table .intermediate.care_acute_2-top-3 {
	background-image: url('../im/intermediate_40_star.png');
}

table#report-card-table .poor,
table#report-card-table-sticky .poor{
	background-image: url('../im/poor_40.png');
	background-repeat:no-repeat;
	background-position:center center
}
table#report-card-table .poor.community_tobacco_1-top-3,
table#report-card-table .poor.community_tobacco_2-top-3,
table#report-card-table .poor.community_phys_1-top-3,
table#report-card-table .poor.community_diet_1-top-3,
table#report-card-table .poor.community_diet_2-top-3,
table#report-card-table .poor.community_diet_3-top-3,
table#report-card-table .poor.school_phys_1-top-3,
table#report-card-table .poor.school_phys_2-top-3,
table#report-card-table .poor.school_diet_1-top-3,
table#report-card-table .poor.school_diet_2-top-3,
table#report-card-table .poor.school_cpr_1-top-3,
table#report-card-table .poor.care_factors_1-top-3,
table#report-card-table .poor.care_acute_1-top-3,
table#report-card-table .poor.care_acute_2-top-3 {
	background-image: url('../im/poor_40_star.png');
}


table#report-card-table-sticky tr,
table#report-card-table tr,
table#revenue-report-card-table-sticky tr,
table#revenue-report-card-table tr {
	height:60px;
}

a.button {
	cursor:pointer;
}

table#report-card-table td.state-select,
table#report-card-table-sticky td.state-select,
table#revenue-report-card-table td.state-select,
table#revenue-report-card-table-sticky td.state-select{
	max-width:60px;
}
table#report-card-table td.state-select select,
table#report-card-table-sticky td.state-select select,
table#report-card-table th.state-select select,
table#report-card-table-sticky th.state-select select,
table#report-card-table th.state-select,
table#report-card-table-sticky th.state-select,
table#revenue-report-card-table td.state-select select,
table#revenue-report-card-table-sticky td.state-select select,
table#revenue-report-card-table th.state-select select,
table#revenue-report-card-table-sticky th.state-select select,
table#revenue-report-card-table th.state-select,
table#revenue-report-card-table-sticky th.state-select{
	max-width:46px;
	padding-left:0;
	padding-right:0;
}
table#report-card-table td.affiliate-select,
table#report-card-table-sticky td.affiliate-select,
table#report-card-table th.affiliate-select,
table#report-card-table-sticky th.affiliate-select,
table#revenue-report-card-table td.affiliate-select,
table#revenue-report-card-table-sticky td.affiliate-select,
table#revenue-report-card-table th.affiliate-select,
table#revenue-report-card-table-sticky th.affiliate-select{
	max-width:60px;
}
table#report-card-table thead,
table#report-card-table-sticky thead,
table#revenue-report-card-table thead,
table#revenue-report-card-table-sticky thead{
	display:table-header-group;
}
table#report-card-table tbody,
table#report-card-table-sticky tbody,
table#revenue-report-card-table tbody,
table#revenue-report-card-table-sticky tbody {
    display:table-row-group;
}
section#summary-report-card select,
section#revenue-report-card select{
	margin-right:2em;
}
section#summary-report-card select.priority,
section#revenue-report-card select.priority{
	margin-bottom:10px;
}
section#revenue-report-card select{
	margin-left:-1em;
}
section#summary-report-card tr.top-3-row th.selected-top-3 a.button,
section#revenue-report-card tr.top-3-row th.selected-top-3 a.button{
	background-image:none;
	background-color:#008eaa;
	color:#ffffff;
	filter:none;
} 

section#summary-report-card .min60{
	min-width:60px;
}

section#revenue-report-card .board-column{
	max-width:24em;
	min-width:18em;
}
section#revenue-report-card .state-column{
	text-align:left;
}
section#revenue-report-card .state-column .sort-arrow{
	padding-left:9px;
}
section#revenue-report-card .affiliate-column{
	text-align:left;
}
section#revenue-report-card .affiliate-column .sort-arrow{
	padding-left:15px;
}

section#revenue-report-card tr.board-data td {
	min-width:60px;
}

tr.impact-row {
	border-bottom:1px solid white;
}
tr.criteria-row th{
	cursor:pointer;
}
tr.criteria-row th.tablesorter-headerAsc,
tr.criteria-row th.tablesorter-headerDesc{
	background-color: #008eaa;
    color: white;
}
tr.criteria-row th .sort-arrow{
	color:#c6c6c6;
	font-size:1.5em;
}

.impact-row th.community-show, .impact-row th.school-show, .impact-row th.care-show{
	border:1px solid white;
}
.report-card-top3 {
	margin-top:0px;
}
.top-3-row{
	margin-top:0px;
}
section#revenue-report-card .top-3-row{
	border-top:1px solid white;
}

.top-3-image{
	background-image: url("../im/starsblack_20.png");
    background-size: 21px auto;
    height: 21px;
    margin-left: 36%;
    width: 21px;
}
td.community_tobacco_1-top-3,
td.community_tobacco_2-top-3,
td.community_phys_1-top-3,
td.community_diet_1-top-3,
td.community_diet_2-top-3,
td.community_diet_3-top-3,
td.school_phys_1-top-3,
td.school_phys_2-top-3,
td.school_diet_1-top-3,
td.school_diet_2-top-3,
td.school_cpr_1-top-3,
td.care_factors_1-top-3,
td.care_acute_1-top-3,
td.care_acute_2-top-3 {
	
}

.top-3-row th a.button{
	padding:0.2em 0.3em;
	margin-top:24px;
}
section#summary-report-card tr.top-3-row .top-3-star,
section#revenue-report-card tr.top-3-row .top-3-star{
	background-image:url(../im/starswhite_29.png);
	background-repeat:no-repeat;
	background-position:0 0px;
	height: 30px;
    margin-left: 0px;
    width: 30px;
}
section#summary-report-card tr.top-3-row .top-3-count,
section#revenue-report-card tr.top-3-row .top-3-count{
	color:white;
	margin-top: -25px;
    position: absolute;
    width: 28px;
}
section#summary-report-card tr.top-3-row th.selected-top-3 .top-3-star,
section#revenue-report-card tr.top-3-row th.selected-top-3 .top-3-star{
	background-position:0 -58px;
}
section#summary-report-card tr.top-3-row th.selected-top-3 .top-3-count,
section#revenue-report-card tr.top-3-row th.selected-top-3 .top-3-count{
	color:#222222;
}
tr.criteria-row th {
	padding:6px 2px 4px;
	font-size:10px;
}

.top-3-answer-yes{
	background-image: url("../im/star_32.png");
    height: 21px;
    margin-left: 36%;
    width: 21px;
	background-repeat:no-repeat;
	background-position:center center;
}
.top-3-answer-no{
	background-image: url("../im/staroutline_greyer_32.png");
    height: 21px;
    margin-left: 36%;
    width: 21px;
	background-repeat:no-repeat;
	background-position:center center;
}
.sort-arrow{
	cursor:pointer;
}


/** LEGEND FOR REPORT CARD TABLE **/
table#report-card-table th.legend,
table#report-card-table-sticky th.legend,
table#revenue-report-card-table th.legend,
table#revenue-report-card-table-sticky th.legend {
	background-color: white;
}
section#summary-report-card .legend,
section#revenue-report-card .legend{
	background: none repeat scroll 0 0 #eaeaea;
}
section#summary-report-card .legend ul,
section#revenue-report-card .legend ul{
	padding-top:10px;
}
section#summary-report-card .legend .indicator,
section#revenue-report-card .legend .indicator {
	padding:10px 20px;
}
section#summary-report-card .legend .indicator.healthy {
	background-image: url('../im/healthy_31.png');
	background-repeat:no-repeat;
	background-position:center center;
}
section#summary-report-card .legend .indicator.intermediate {
	background-image: url('../im/intermediate_31.png');
	background-repeat:no-repeat;
	background-position:center center;
}
section#summary-report-card .legend .indicator.poor {
	background-image: url('../im/poor_31.png');
	background-repeat:no-repeat;
	background-position:center center;
}
section#summary-report-card .legend .indicator.star,
section#revenue-report-card .legend .indicator.star {
	background-image: url('../im/starsblack_20.png');
	background-repeat:no-repeat;
	background-position:center center;
}

section#revenue-report-card .legend .indicator.staroutline {
	background-image: url('../im/staroutline_black_20.png');
	background-repeat:no-repeat;
	background-position:center center;
	background-size: 22px auto;
}



/*tr.criteria-row, tr.criteria-row th {
	vertical-align:bottom;
} 
.report-card-rotate {
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);

	-webkit-transform-origin: 30% 89%;
	-moz-transform-origin: 30% 89%;
	-ms-transform-origin: 30% 89%;
	-o-transform-origin: 30% 89%;
	transform-origin: 30% 89%;

	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
.skinny-column_old{
	max-width: 40px;
	height:230px;
	white-space:nowrap;
}*/


.print-only{
	display:none;
}
.print-only ul#geography li span.state,
.print-only ul#geography li span.affiliate,
.print-only ul#top3 li span.board-priority {
	font-weight:700;
}

@media print {

	/*body:before {
        content: url(background.jpg);
    }*/
	table#report-card-table-sticky{
		display:none;
	}
	table#report-card-table  .healthy:before{
		content: url('../im/healthy_40.png');
		background-image:none !important;
	}
	table#report-card-table .healthy.community_tobacco_1-top-3:before,
	table#report-card-table .healthy.community_tobacco_2-top-3:before,
	table#report-card-table .healthy.community_phys_1-top-3:before,
	table#report-card-table .healthy.community_diet_1-top-3:before,
	table#report-card-table .healthy.community_diet_2-top-3:before,
	table#report-card-table .healthy.community_diet_3-top-3:before,
	table#report-card-table .healthy.school_phys_1-top-3:before,
	table#report-card-table .healthy.school_phys_2-top-3:before,
	table#report-card-table .healthy.school_diet_1-top-3:before,
	table#report-card-table .healthy.school_diet_2-top-3:before,
	table#report-card-table .healthy.school_cpr_1-top-3:before,
	table#report-card-table .healthy.care_factors_1-top-3:before,
	table#report-card-table .healthy.care_acute_1-top-3:before,
	table#report-card-table .healthy.care_acute_2-top-3:before {
		content: url('../im/healthy_40_star.png');
		background-image:none !important;
	}

	table#report-card-table  .intermediate:before{
		content: url('../im/intermediate_40.png');
		background-image:none !important;
	}
	table#report-card-table .intermediate.community_tobacco_1-top-3:before,
	table#report-card-table .intermediate.community_tobacco_2-top-3:before,
	table#report-card-table .intermediate.community_phys_1-top-3:before,
	table#report-card-table .intermediate.community_diet_1-top-3:before,
	table#report-card-table .intermediate.community_diet_2-top-3:before,
	table#report-card-table .intermediate.community_diet_3-top-3:before,
	table#report-card-table .intermediate.school_phys_1-top-3:before,
	table#report-card-table .intermediate.school_phys_2-top-3:before,
	table#report-card-table .intermediate.school_diet_1-top-3:before,
	table#report-card-table .intermediate.school_diet_2-top-3:before,
	table#report-card-table .intermediate.school_cpr_1-top-3:before,
	table#report-card-table .intermediate.care_factors_1-top-3:before,
	table#report-card-table .intermediate.care_acute_1-top-3:before,
	table#report-card-table .intermediate.care_acute_2-top-3:before {
		content: url('../im/intermediate_40_star.png');
		background-image:none !important;
	}

	table#report-card-table  .poor:before{
		content: url('../im/poor_40.png');
		background-image:none !important;
	}
	table#report-card-table .poor.community_tobacco_1-top-3:before,
	table#report-card-table .poor.community_tobacco_2-top-3:before,
	table#report-card-table .poor.community_phys_1-top-3:before,
	table#report-card-table .poor.community_diet_1-top-3:before,
	table#report-card-table .poor.community_diet_2-top-3:before,
	table#report-card-table .poor.community_diet_3-top-3:before,
	table#report-card-table .poor.school_phys_1-top-3:before,
	table#report-card-table .poor.school_phys_2-top-3:before,
	table#report-card-table .poor.school_diet_1-top-3:before,
	table#report-card-table .poor.school_diet_2-top-3:before,
	table#report-card-table .poor.school_cpr_1-top-3:before,
	table#report-card-table .poor.care_factors_1-top-3:before,
	table#report-card-table .poor.care_acute_1-top-3:before,
	table#report-card-table .poor.care_acute_2-top-3 :before{
		content: url('../im/poor_40_star.png');
		background-image:none !important;
	}
	
	.top-3-answer-yes:before{
		background-image:none !important;
		content: url("../im/star_32.png");
	}
	.top-3-answer-no:before{
		background-image:none !important;
		content: url("../im/staroutline_greyer_32.png");
	}

	
	section#summary-report-card .legend ul{
		height:50px;
		padding-top:0px;
	}
	section#summary-report-card .legend ul li.star-li{
		margin-top:9px;
	}	
	
	section#summary-report-card .legend .indicator.healthy:before {
		content: url('../im/healthy_31.png');
		background-image: none !important;
	}
	section#summary-report-card .legend .indicator.healthy{
		vertical-align:middle;
		padding:0;
	}
	section#summary-report-card .legend .indicator.intermediate:before {
		content: url('../im/intermediate_31.png');
		background-image: none !important;
	}
	section#summary-report-card .legend .indicator.intermediate {
		vertical-align:middle;
		padding:0;
	}
	section#summary-report-card .legend .indicator.poor:before {
		content: url('../im/poor_31.png');
		background-image: none !important;
	}
	section#summary-report-card .legend .indicator.poor{
		vertical-align:middle;
		padding:0;
	}
	section#summary-report-card .legend .indicator.star:before,
	section#revenue-report-card .legend .indicator.star:before {
		content: url('../im/starsblack_20.png');
		background-image: none !important;
	}
	section#summary-report-card .legend .indicator.star,
	section#revenue-report-card .legend .indicator.star{
		vertical-align:middle;
		padding:0;
		height:29px;
	}
	section#revenue-report-card .legend .indicator.staroutline:before {
		content: url('../im/staroutline_black_20.png');
		background-image: none !important;
		background-position:center center;
	}
	section#revenue-report-card .legend .indicator.staroutline{
		vertical-align:middle;
		padding:0;
		height:29px;width:29px;
		background-image: none !important;
	}

	section#summary-report-card .legend .legend-text{
		font-size:0.8em
	}
	
	
	
	table#report-card-table thead,
	table#revenue-report-card-table thead{
		display:table-header-group;
	}
	table#report-card-table tbody,
	table#revenue-report-card-table tbody {
		display:table-row-group;
	}
	
	table#report-card-table .overall-header.geography,
	table#revenue-report-card-table .overall-header.geography{
		display:none;
	}
	table#report-card-table tr.overall-header.summary-section,
	table#revenue-report-card-table tr.overall-header.summary-section {
		border:1px solid black;
	}
	table#report-card-table .overall-header.summary-section th,
	table#revenue-report-card-table .overall-header.summary-section th{
		height:30px;
		border-bottom: 1px solid black;
		border-left: 1px solid black;
		border-top: 1px solid black;
		background-color:#00cef7;
		color:black !important;
		-webkit-print-color-adjust: exact;
	}
	table#report-card-table .overall-header.summary-section th.no-side-border,
	table#revenue-report-card-table .overall-header.summary-section th.no-side-border{
		border-left:none;
		border-top:none;
	}
	table#report-card-table .overall-header th.white-border,
	table#revenue-report-card-table .overall-header th.white-border {
		border-left: 1px solid black;
		border-right: 1px solid black;
	}
	table#report-card-table .overall-header.summary-section th,
	table#revenue-report-card-table .overall-header.summary-section th{
		line-height:1em;
		font-size:0.8rem;
	}
	table#report-card-table .top-3-row,
	table#revenue-report-card-table .top-3-row{
		display:none;
	}
	.impact-row th.community-show, .impact-row th.school-show, .impact-row th.care-show {
		border: 1px solid black;
	}
	table#report-card-table .impact-row, table#report-card-table .criteria-row {
		background: none repeat scroll 0 0 #eaeaea;
		-webkit-print-color-adjust: exact;
		border-left:1px solid black;
	}
	table#report-card-table .impact-row th{
		line-height:1.5em;
	}
	table#report-card-table tbody td{
		border-left: none !important;
		border-right:none !important;
	}
	table#report-card-table .criteria-row th{
		border:1px solid black;
		padding:1px 2px;
		line-height:1.5em;
	}
	.print-only{
		display:block;
	}
	.no-print{
		display:none;
	}
	/*
	table#report-card-table  .healthy{
		background-image: url('../im/healthy_40.png');
		background-repeat:no-repeat;
		background-position:center center;
	}

	table#report-card-table  .intermediate{
		background-image: url('../im/intermediate_40.png');
		background-repeat:no-repeat;
		background-position:center center
	}

	table#report-card-table  .poor{
		background-image: url('../im/poor_40.png');
		background-repeat:no-repeat;
		background-position:center center
	}
	
	*/
}