/* No bottom margin on the info paragraph, unless toggle-open */
.message .first {
	margin-bottom: 0;
}
.message.toggle-open .first {
	margin-bottom: 1.8em;
}
.aha-survey.standard-form label {
	margin-top: 8px;
}
.aha-survey .form-navigation {
	margin-top: 2em;
}
.aha-survey.standard-form .submit {
	clear: right;
	padding-top: 0;
}
.aha-survey.standard-form .submit input {
	margin-right: 0;
}
.aha-survey.standard-form .submit.toc {
	clear: left;
	float: left;
}
.aha-survey.standard-form fieldset {
	margin-bottom: 3em;
}
/*Handling showing/hiding "related" questions*/
.aha-survey .follow-up-question {
	display: none;
	margin-top: -3em;
	padding: .5em 1.5em;
	/*background-color: #FFFFEA; /*#fef4dd;*/*/
}
.aha-survey .follow-up-question.enabled {
	display: block;
}
.aha-survey .input-helper {
	font-size: 90%;
	color: #666;
	font-style: italic;
}

/* Summary page styles */
.progress-dial{
	position: relative;
	float: left;
}
.progress-dial .dial-label {
	position: absolute;
	font-size: 1.4em;
	text-align: center;
	bottom: 0;
	left: 0;
	right: 0;
}
.entry-content .gaugechart {
	display: table;
	margin-left: auto;
	margin-right: auto;
}
.entry-content .gaugechart img {
	box-shadow: none;
	border-radius: 0;
}
.assessment tr.summary-table-section {
	border-top: 2px solid #666;
} 
.assessment tr.summary-table-section td {
	font-weight: bold;
} 
.assessment td.healthy {
	color: green;
}
.assessment td.intermediate {
	color: yellow;
}
.assessment td.poor {
	color: red;
}
.assessment tfoot tr {
	background-color: #eaeaea;
}